.team-block {
	&__header {
		margin-bottom: 60px;
	}

	&__title {
		color: var(--color-black);
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 30px;
		row-gap: 33px;
	}

	&__card {
		display: flex;
		flex-direction: column;
	}

	&__image {
		height: 100%;
		border-radius: var(--radius-xs);
		margin-bottom: 16px;
		background: var(--color-gray-light);
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top center;
			display: block;
		}
	}

	&__image-placeholder {
		width: 100%;
		height: 100%;
		background: var(--color-gray-light);
		border-radius: var(--radius-xs);
	}

	&__body {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	&__name {
		font-size: 24px;
		color: var(--color-dark);
		margin: 0 0 9px;
	}

	&__position {
		line-height: var(--leading-relaxed);
		color: var(--color-gray);
		margin: 0 0 14px;
		flex: 1;
	}

	&__footer {
		padding-top: 22px;
		border-top: 1px solid var(--color-border-gray);

		.button {
			justify-content: flex-start;
		}
	}

	@include xl {
		&__grid {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@include lg {
		&__header {
			margin-bottom: 40px;
		}

		&__grid {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@include md {
		&__header {
			margin-bottom: 32px;
		}

		&__grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@include mds {
		&__grid {
			grid-template-columns: 1fr;
		}
	}
}
